body{
    color: white;
    background-color: #050614;
    scroll-behavior: smooth;
}

#sobre{
    padding-top: 75px;
}

.navbar{
    background-image: linear-gradient(to bottom, #5100ff, #050614);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}


.nav-link{
    color: white;
    text-align: right;
}

.modalcolor{
    background-color: #5100ff;
    color: white;
}

.modalcolor:hover{
    background-color: #300888;
    color: gray;
}

.modal-content{
    background-image: linear-gradient(to bottom, #5100ff, #050614);
    border: 1px solid #ff00ed;
    color: white;
    overflow-y: auto;
    max-height: 85vh;
    
}

.container-modal{
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgcapa{
    max-width: 50%;
    height: auto;
}

h1{
    color: #693bca;
}

h2{
    color: #ac8eee;
}

hr{
    color: #ff00ed;
}

.modal-title{
    color: white;
    text-align: center;
}

.banner{
    width: 75%;
}

footer{
    padding-top: 80px;
    color: rgba(255, 255, 255, 0.2);
}
.mar{
    margin: 2%;
}
.corfont{
    color: white;
}

.card{
    width: 18rem;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    transition: 0.8s ease-in-out
}

.card-body{
    transition: color 0.8s ease-in-out
}

.card:hover, .card-body:hover{
    transition: 0.8s ease-in-out;
    background-color: #300888;
    border-color: #ff00ed;
    color: #ff00ed;
}


.cardt:hover, .card-bodyt:hover{
    transition: 0.8s ease-in-out;
    background-color: #ff00ed;
    border-color: #5100ff;
    color: #5100ff;
}


.carousel-control-next{
    right: 0;
}

.carousel-control-prev{
    left: 0;
}